body, html {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #fceabb, #f8b500);
}

.mainlogo {
  height: 2em;
  width: 2em;
}

.nav-laptop {
  display: none;
}

.nav-phone {
  display: block;
}

nav {
  position: fixed;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 0 1em;
  margin-left: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(160, 152, 156, 0.8));
  backdrop-filter: blur(10px);
  z-index: 200;
  top: 0.5em;
  border-radius: 100em;
}


.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-right: 5vw;
}

.bar {
  width: 24px;
  height: 3px;
  background-color: #333;
  transition: all 0.5s ease-in-out;
}

.menu-items {
  position: absolute;
  top: 3em;
  right: -115%;
  width: 85vw;
  height: 20em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(160, 152, 156, 0.8));
  backdrop-filter: blur(10px);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease-in-out;
  margin: 2em 2vw 0 0;
  border-radius: 30px;
}

.menu-items a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

.menu-items li:nth-child(4) a {
  background-color: red;
  text-align: center;
  padding: 0.35em 20vw 0.35em 20vw;
  margin-right: 5vw;
  border-radius: 30px;
  color: #fff;
}

.menu-items li:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em 2em;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}

.menu-items.active {
  right: 0;
}

#introductory-plate {
  background: url('./images/intropic1.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 110%;
}

.quote {
  background-color: white;
  height: 22em;
  margin-top: -1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.quote p {
  width: 80%;
  font-family: LatoRegular;
  src: url(../css/fonts/Lato-Regular.ttf);
  font-size: 1.2em;
}

#menu {
  background: url('./images/menubackground-phone.jpeg');
}

#menu, #feedback{
  color: #fff;
  padding: 10em 8vw 5em 8vw;
  font-family: 'Playfair Display', serif;
}

.categories > h3 {
  border-bottom: 1px solid;
}

.steaks, .seafood, .appetizers, .salads, .deserts{
  display: grid; 
  grid-template: repeat(4, 1fr)/1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 80vw;
  padding-left: 5vw;
}

.closing-menu {
  text-align: center;
  margin-top: 4em;
}
/*mignon ribeye newyorkstrip tbone salamon lobster
 scallops gjumbo cocktail calamari prime fries cesar 
 stakesalad spinach chickensalad cheesecake lavacake 
 brulee tiramisu*/
#gallery {
  background-color: #fff;
  display: grid;
  grid-template-areas:
  "mignon""ribeye""newyorkstrip""tbone""salamon""lobster""scallops""gjumbo"
  "cocktail""calamari""prime""fries""cesar""stakesalad""spinach""chickensalad"
  "cheesecake""lavacake""brulee""tiramisu";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20, 25em);
  grid-gap: 5px;
  padding: 0.3em;
}

#gallery div {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery div p {
  color: #fff;
  font-weight: 800;
  font-size: 1.5em;
  display: none;
}

#gallery div:nth-child(1){
  background-image: url('./images/filet-mignon.jpg');
  grid-area: mignon;
}

#gallery div:nth-child(2){
  background-image: url('./images/ribeye.jpeg');
  grid-area: ribeye;
}

#gallery div:nth-child(3){
  background-image: url('./images/newyorkstrip.jpg');
  grid-area: newyorkstrip;
}

#gallery div:nth-child(4){
  background-image: url('./images/tbone.jpg');
  grid-area: tbone;
}

#gallery div:nth-child(5){
  background-image: url('./images/grillsalamon.jpg');
  grid-area: salamon;
}

#gallery div:nth-child(6){
  background-image: url('./images/lobstertail.jpg');
  grid-area: lobster;
}

#gallery div:nth-child(7){
  background-image: url('./images/jumboscallops.jpg');
  grid-area: scallops;
}

#gallery div:nth-child(8){
  background-image: url('./images/grilledjumbo.jpg');
  grid-area: gjumbo;
}

#gallery div:nth-child(9){
  background-image: url('./images/shrimpcocktail.jpg');
  grid-area: cocktail;
}

#gallery div:nth-child(10){
  background-image: url('./images/calamarifritti.jpg');
  grid-area: calamari;
}

#gallery div:nth-child(11){
  background-image: url('./images/Prime-Rib-Sliders.jpg');
  grid-area: prime;
}

#gallery div:nth-child(12){
  background-image: url('./images/trufflefries.jpg');
  grid-area: fries;
}

#gallery div:nth-child(13){
  background-image: url('./images/cesarsalad.jpg');
  grid-area: cesar;
}

#gallery div:nth-child(14){
  background-image: url('./images/grilledstakesalad.jpg');
  grid-area: stakesalad;
}

#gallery div:nth-child(15){
  background-image: url('./images/spinach-salad.jpg');
  grid-area: spinach;
}

#gallery div:nth-child(16){
  background-image: url('./images/mediterraneanchickensalad.jpg');
  grid-area: chickensalad;
}

#gallery div:nth-child(17){
  background-image: url('./images/new-york-cheesecake.jpg');
  grid-area: cheesecake;
}

#gallery div:nth-child(18){
  background-image: url('./images/molten-lava-cake.jpg');
  grid-area: lavacake;
}

#gallery div:nth-child(19){
  background-image: url('./images/Creme-Brulee.jpg');
  grid-area: brulee;
}

#gallery div:nth-child(20){
  background-image: url('./images/Tiramisu.jpg');
  grid-area: tiramisu;
}

#gallery div:hover{
  background-size: 100% 100%;
  cursor: pointer; 
  background-image: url('./images/blur.jpg');
}

#gallery div:hover p {
  display:block;
}

#contactus{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10em;
  padding: 5em;
  background-color: #fff;
}



.info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.info a {
  text-decoration: none;
  font-weight: 800;
}

#contactus-form {
  background: rgba(0,0,0,0.9);
  backdrop-filter: blur(50px); 
  padding: 4em 12vw;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  color: #fff;
  font-weight: 600;
  z-index: -100;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: cente;
  align-items: center;
  height: 27em;
}

#contactus-form input {
  padding: 0.5em 15vw 0.5em 1vw;
  border-radius: 20px;
  border: none; 
}

#contactus-form input:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

#contactus-form textarea {
  border-radius: 10px;
  height: 5em;
  padding: 1em 8vw 7em 1vw;
}

#submit {
  font-weight: 600;
  padding: 0.5em 3vw 0.5em 3vw;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  width: 14em;
  align-self: center;
  font-weight: 700;
}

#submit:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  background-color: cyan;
  color: #000;
}

#contactus-status{
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

#contactus-status p {
  background-color: green;
  padding: 1em 3vw;
  border-radius: 40px;
  font-weight: 600;
  color: #fff;
  display: none;
}

@media screen and (max-width: 627px) {
  nav {
    width: 90vw;
    right: 0.7vw;
  }
}

@media screen and (min-width: 769px) {
  .nav-phone {
    display: none;
  }
  .nav-laptop {
    display: block;
  }
  .user-info {
    position: relative;
  } 
  #user-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #user-icon img {
    height: 2em;
    width: 2em;
    padding-right: 2.5em;
  }
  #user-icon .info {
    position: absolute;
    top: -10em;
    left: -6em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    width: 8em;
    text-align: center;
  }
  #user-icon:hover .info {
    top: 60px;
    opacity: 1;
  }
  #user-name {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  #date-time {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  #logout-button {
    display: block;
    margin-top: 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
  }
  #logout-button:hover {
    background-color: #d00;
  }    
  nav {
    width: 94vw;
    height: 3.5em;
  }

  .menu-links ul {
    display: flex;
    justify-content: space-between;
    width: 65vw;   
  }

  .menu-links li {
    list-style: none;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 30px;
    font-size: 0.8em;
  }

  .menu-links li:hover {
    background-color: rgba(255,255,255, 0.7);
    transition: all 0.5s ease-in-out;
  }

  .menu-links a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
  }

  .quote {
    height: 30em;
  }

  .quote p {
    font-size: 1.8em;
    width: 65vh;
  }

  #menu{
    background: url('./images/menubackground.jpg');
  }

  #menu h2{
    background-color: rgba(255, 165, 0, 0.5);
    backdrop-filter: blur(20px);
    width: 5em;
    padding:0.5em;
    border-radius: 30px 0 30px 0;
  }
  .steaks, .seafood, .appetizers, .salads, .deserts{
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .steaks p{
    width: 40vw;
  }

  #gallery {
    grid-template-areas: 
    "mignon mignon ribeye"
    "mignon mignon newyorkstrip"
    "mignon mignon tbone"
    "salamon lobster lobster"
    "scallops lobster lobster"
    "gjumbo lobster lobster"
    "cocktail cocktail calamari"
    "cocktail cocktail prime"
    "cocktail cocktail fries"
    "cesar stakesalad stakesalad"
    "spinach stakesalad stakesalad"
    "chickensalad stakesalad stakesalad"
    "cheesecake cheesecake lavacake"
    "cheesecake cheesecake brulee"
    "cheesecake cheesecake tiramisu";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, 15em);
  }
  #contactus {
    flex-direction: row;
    justify-content:space-between;
    padding: 10em 10vw 10em 15vw;
  }
  
}

