body {
    margin: 0;
    background-image: url('./images/bg-phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

#signLog-btn {
    border: 2px;
    margin: 2em 2em;
    padding: 1em 2em;
    border-radius: 30px;
    font-weight: 800;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#signLog-btn:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: 0.3s;
}
/*Login Page styling*/
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5em 0 10em 0;
}

#logo {
    height: 10em;
    width: 25em;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.2);
    height: 20em;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-top: 5em;
    padding: 2em;
    font-size: 1.25em;
    font-weight: 700;
    backdrop-filter: blur(10px);
}

.login-form input {
    margin-top: 5em;
    border-radius: 20px;
    border: none; 
    width: 80vw;
    height: 4em;
    font-weight: 800;
    color: #000;
    padding-left: 1em;
    font-size: 0.9em;
}

input[type="firstname"]:focus, input[type="firstname"]:hover {
    transform:scale(1.15);
    transition-duration: 0.3s;
}

input[type="lastname"]:focus, input[type="lastname"]:hover {
    transform:scale(1.15);
    transition-duration: 0.3s;
}

input[type="phonenumber"]:focus, input[type="phonenumber"]:hover {
    transform:scale(1.15);
    transition-duration: 0.3s;
}


input[type="email"]:focus, input[type="email"]:hover {
    transform:scale(1.15);
    transition-duration: 0.3s;
}

input[type="password"]:focus, input[type="password"]:hover {
    transform:scale(1.15);
    transition-duration: 0.3s;
}

/*Sign-In Page Styling*/
.signup-form {
    background-color: rgba(255, 255, 255, 0.2);
    height: 85vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin-top: 5em;
    padding: 2em;
    font-size: 1.25em;
    font-weight: 700;
    backdrop-filter: blur(10px);
}

.signup-form input {
    margin-top: 5em;
    border-radius: 20px;
    border: none; 
    width: 80vw;
    height: 4em;
    font-weight: 800;
    color: #000;
    padding-left: 1em;
    font-size: 0.9em;
}

input[type="submit"] {
    width: 60vw;
    font-size: 1.2em;
    font-weight: 800;
    padding: 1em 0;
    margin: 3em;
    border-radius: 30px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

@media screen and (min-width: 976px) {
    body {
        background-image: url('./images/bg.png');
    }
    .login-form {
        width: 50vw;
    }
    .login-form input {
        width: 45vw;
    }
    input[type="submit"] {
        width: 35vw;
    }

    .signup-form {
        height: 50em;
        width: 50vw;
    }

    .signup-form input {
        width: 45vw;
    }

    .signup-form input[type="submit"] {
        width: 35vw;
    }
}