@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Prompt:wght@200&display=swap');

body {
  margin: 0;
  background: linear-gradient(to bottom, #fceabb, #f8b500);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Prompt', sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

#signLog-btn {
  border: 2px;
  margin: 2em 2em;
  padding: 1em 2em;
  border-radius: 40px;
  font-weight: 800;
  font-size: 1.5em;
  background-color: #add8e6;
  backdrop-filter: blur(10px);
  color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#signLog-btn:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.3s;
}

/*Login Page styling*/
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

#logo {
  height: 10em;
  width: 70vw;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.5);
  height: 20em;
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  margin-top: 5em;
  padding: 2em;
  font-size: 1.25em;
  font-weight: 700;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 2px 1px rgba(224, 157, 55, 0.918);
}

.login-form input {
  margin-top: 5em;
  border-radius: 40px;
  border: none;
  width: 75vw;
  font-weight: 800;
  color: #000;
  padding: 1.3em 0 1.3em 1em;
  font-size: 0.9em;
}

input[type="text"]:focus,
input[type="text"]:hover, input[type="email"]:focus,
input[type="email"]:hover,input[type="password"]:focus,
input[type="password"]:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out; 
}


/*Sign-In Page Styling*/
#signup-form {
  background-color: rgba(255, 255, 255, 0.5);
  height: 45em;
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  margin-top: 5em;
  padding: 2em;
  font-size: 1.25em;
  font-weight: 700;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 2px 1px rgba(224, 157, 55, 0.918);
}

#signup-form input {
  margin-top: 5em;
  border-radius: 40px;
  border: none;
  width: 75vw;
  font-weight: 800;
  color: #000;
  padding: 1.3em 0 1.3em 1em;
  font-size: 0.9em;
}

#btn {
  width: 60vw;
  font-size: 1.1em;
  font-weight: 800;
  margin: 3em;
  border-radius: 30px;
  cursor: pointer;
  background-color: #add8e6;
  color: #fff;
  border: none;
  padding: 1em;
}

#btn:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out; 
}

#signin-status {
  display: flex;
  justify-content: center;
  margin: 1em 0 3em 0 ;
}

#signin-status p {
  background-color: green;
  padding: 1em 3vw;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
}

#signin-status {
  display: none;
}

#login-status {
  margin: 2em 0 5em 0;
  display: none
}

#login-status p {
  background-color: #f00;
  color: #fff;
  padding: 1em 5vw;
  border-radius: 50px;
  font-weight: 600;
}

@media screen and (min-width: 976px) {

  .login-form {
    width: 50vw;
  }

  .login-form input {
    width: 45vw;
  }

  input[type="submit"] {
    width: 35vw;
  }

  #signup-form {
    height: 50em;
    max-width: 50vw;
  }

  #signup-form input {
    max-width: 45vw;
  }

  #btn {
    width: 35vw;
  }

  #logo {
    height: 10em;
    width: 35vw;
  }
}